.firstlogin-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;;
    font-family: Arial, sans-serif;
  }
  
  .firstlogin-form {
    background-color:#1e1e1e;
    color : white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* occupe toute la largeur */
    max-width: 600px; /* limite la largeur sur grands écrans */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  
  .firstlogin-form h2 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .firstlogin-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .firstlogin-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .firstlogin-form input:focus {
    border-color: #1877f2;
    outline: none;
  }
  
  .firstlogin-form button {
    padding: 10px;
    background-color: #1877f2;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .firstlogin-form button:hover {
    background-color: #166fe5;
  }
  
  .error-message {
    background-color: #ffe5e5;
    color: #cc0000;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
  .form-container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .signup-redirect a {
    color: rgb(255, 255, 255); /* ou une autre couleur */
    text-decoration: none;
  }
  
  .signup-redirect a:visited {
    color: rgb(200, 200, 200);
  }
  
  .signup-redirect a:hover {
    color: #ddd; /* couleur au survol */
  }
  
  
  
  