/* Inscription*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0,0, 0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  text-align: center;
  color: #000;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #166fe5;
}



