.navbar {
    background-color: #0d0d0d;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #999;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.search {
    width: 300px;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #1a1a1a;
    color: #f2f2f2;
    font-size: 14px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.icon-wrapper {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    color: #ccc;
}

.icon-wrapper:hover {
    color: #4ea1f3;
}

.create-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #4ea1f3;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-btn:hover {
    background-color: #3189d6;
}

.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #1e1e1e;
    border-radius: 6px;
    padding: 10px;
    width: 180px;
    box-shadow: 0 2p 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.dropdown p {
    margin: 0;
    padding: 8px;
    color: #ccc;
    cursor: pointer;
}

.dropdown p:hover {
    background-color: #333;
    
}

.search::placeholder {
    color: #999;
}

.login-btn {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.login-btn:hover {
    background-color: #145dd1;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .search {
        width: 180px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}