.sidebar {
    width: 220px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}
  
.sidebar h2 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}
  
.sidebar ul {
    list-style: none;
    padding: 0;
}
  
.sidebar li {
    padding: 8px 0;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.sidebar li i {
    margin-right: 10px;
    color: #337fcb;
}
  
.sidebar li:hover {
    color: #4ea1f3; /* bleu doux perso */
}